<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PFT Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='icons/Logo.svg') }}" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="{{ url_for('home') }}">Transfer files</a></li>
                <li><a href="#"> <span style="color: #2AB7CA">Receive files </span></a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-header">

        <div class="left-main">

            <div class="main-text"> Receive <span style="color:#2AB7CA; font-weight: 600;">your files</span>
                fast and easily through a <span style="color:#2AB7CA; font-weight: 600;">Pipe Connection</span>
            </div>

            <div class="link-create">
                <div class="link-receive">
                    <label>
                        <input id="invite-link" type="text" placeholder="Paste invitation link or room id">
                    </label>
                </div>
                <button class="action-button" id="connect-button"> Connect </button>
            </div>

            <div class="notify">
                <div class="notify-icon"><img src="{{ url_for('static', filename='icons/cross.svg') }}" alt=""></div>
                <p> Not connected </p>
            </div>

        </div>
        <div class="right-main">

            <div class="right-illustration">
                <div class="illustration"> <img src="{{ url_for('static', filename='icons/illustration.svg') }}" alt=""></div>
            </div>

            <div class="drag-area-filled" hidden>
                <div class="file-sending-icon"><img src="{{ url_for('static', filename='icons/file-downloading.svg') }}" alt=""></div>
                <div class="filename"><span style="color: #0F1020; font-size: 14px">image.png</span> <span style="color: #5C6B73; font-size: 14px">(20MB)</span></div>
            </div>

            <div class="progress-text"><p> </p></div>
            <div class="progress">
                <div class="progress-fill"></div>
            </div>
            <div class="upload-rate"><p></p></div>
            <div class="is-received" id = 'is-received1'><p></p></div>

        </div>

    </div>

    <div class="how-to"><p>How to receive a file ?</p></div>

    <div class="transfer-steps">
            <div class="steps">
                <div class="img-steps"><img src="{{ url_for('static', filename='icons/link.svg') }}" alt=""></div>
                <div class="title-steps">1. Get ID</div>
                <div class="para-steps">
                    <p>A friend should have created a pipe already. Get the room id from your friend.</p>
                </div>
            </div>

            <div class="steps">
                <div class="img-steps"><img src="{{ url_for('static', filename='icons/paste-how.svg') }}" alt=""></div>
                <div class="title-steps">2. Paste ID</div>
                <div class="para-steps">
                    <p>Paste the id from your friend in the designated field and press connect (or enter).</p>
                </div>
            </div>

            <div class="steps">
                <div class="img-steps"><img src="{{ url_for('static', filename='icons/wait.svg') }}" alt=""></div>
                <div class="title-steps">3. Wait your peer</div>
                <div class="para-steps">
                    <p>Wait until getting "Connected" status. It usually takes a few seconds.</p>
                </div>
            </div>

            <div class="steps">
                <div class="img-steps"><img src="{{ url_for('static', filename='icons/receive-how.svg') }}" alt=""></div>
                <div class="title-steps">4. Download Files</div>
                <div class="para-steps">
                    <p>Files will automatically be downloaded to your device</p>
                </div>
            </div>
    </div>

    <footer>
        <div class="left-foot"><p>©2021 All Rights Reserved.</p></div>
        <div class="right-foot">
            <p>Terms Of Service</p>
            <p>Privacy Policy</p>
        </div>
    </footer>
</body>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script type="application/javascript">
    const crossIcon = '{{ url_for('static', filename='icons/cross.svg') }}';
    const infoIcon = '{{ url_for('static', filename='icons/information.svg') }}' ;
    const successIcon = '{{ url_for('static', filename='icons/success.svg') }}' ;
</script>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/receiver.js') }}"></script>
</html>